In [1]:
import lightgbm as lgb
import pandas as pd

/home/trevor/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
model = lgb.LGBMClassifier()

In [3]:
cols = [
    'pts', 'ptspg', 'fgm', 'fga', 'fgp', '3pm',
    '3pa', '3pp', 'ftm', 'fta', 'ftp',
    'orb', 'orbpg', 'drb', 'drbpg', 'reb',
    'rebpg', 'ast', 'astpg', 'stl', 'stlpg',
    'blk', 'blkpg', 'tov', 'tovpg', 'pf',
    'pfpg', 'seed', 'wins', 'losses', 'winp',
    'cwins', 'closses', 'cwinp'
]

In [4]:
all_data = pd.read_csv('all_data.csv')

In [5]:
train = all_data[all_data.year != 2023]
test = all_data[all_data.year == 2023]
model_cols = [f'{col}_diff' for col in cols]

x_train, y_train = train[model_cols], train['winner']
x_test, y_test = test[model_cols], test['winner']

model.fit(x_train, y_train)
test['pred'] = model.predict(x_test)

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(test.winner, test.pred)
test[['team0', 'team1', 'winner', 'pred']].tail(50)

[LightGBM] [Info] Number of positive: 379, number of negative: 870
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000381 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 7247
[LightGBM] [Info] Number of data points in the train set: 1249, number of used features: 34
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.303443 -> initscore=-0.830957
[LightGBM] [Info] Start training from score -0.830957

/tmp/ipykernel_6064/193445146.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['pred'] = model.predict(x_test)

                  team0                team1  winner  pred
1199          Creighton            Princeton       0     0
1200    San Diego State            Creighton       0     0
1201            Houston    Northern Kentucky       0     0
1202               Iowa               Auburn       1     1
1203         Miami (FL)                Drake       0     0
1204            Indiana           Kent State       0     0
1205         Iowa State           Pittsburgh       1     0
1206             Xavier       Kennesaw State       0     0
1207          Texas A&M           Penn State       1     0
1208              Texas              Colgate       0     0
1209            Houston               Auburn       0     0
1210            Indiana           Miami (FL)       1     1
1211             Xavier           Pittsburgh       0     0
1212              Texas           Penn State       0     0
1213            Houston           Miami (FL)       1     1
1214              Texas               Xavier       0     0
1215              Texas           Miami (FL)       1     1
1216             Purdue  Fairleigh Dickinson       1     0
1217            Memphis    Florida Atlantic        1     1
1218               Duke         Oral Roberts       0     0
1219          Tennessee            Louisiana       0     0
1220           Kentucky           Providence       0     0
1221       Kansas State        Montana State       0     0
1222     Michigan State                  USC       0     0
1223          Marquette              Vermont       0     0
1224  Florida Atlantic   Fairleigh Dickinson       0     0
1225          Tennessee                 Duke       0     1
1226       Kansas State             Kentucky       0     0
1227          Marquette       Michigan State       1     0
1228          Tennessee    Florida Atlantic        1     1
1229       Kansas State       Michigan State       0     0
1230       Kansas State    Florida Atlantic        1     1
1231             Kansas               Howard       0     0
1232           Arkansas             Illinois       0     0
1233       Saint Mary's                  VCU       0     0
1234              UConn                 Iona       0     0
1235                TCU        Arizona State       0     0
1236            Gonzaga         Grand Canyon       0     0
1237       Northwestern          Boise State       0     0
1238               UCLA        UNC Asheville       0     0
1239             Kansas             Arkansas       1     0
1240              UConn         Saint Mary's       0     0
1241            Gonzaga                  TCU       0     0
1242               UCLA         Northwestern       0     0
1243              UConn             Arkansas       0     0
1244               UCLA              Gonzaga       1     0
1245            Gonzaga                UConn       1     1
1246    San Diego State    Florida Atlantic        0     1
1247         Miami (FL)                UConn       1     0
1248              UConn      San Diego State       0     0